@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全局基础样式 */
@layer base {
  html {
    @apply font-sans text-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-white text-dark;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }
}

@layer components {
  /* 按钮样式覆盖 Element Plus */
  .el-button--primary {
    --el-button-bg-color: #e63946 !important;
    --el-button-border-color: #e63946 !important;
    --el-button-hover-bg-color: #d62d3a !important;
    --el-button-hover-border-color: #d62d3a !important;
  }
}

@layer utilities {
  /* 自定义工具类 */
  .text-balance {
    text-wrap: balance;
  }
}
